@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>The Joel Hilton Film Collection</h1>

<div>
    <p>This is a website of Joel Hilton.</p>
</div>

<img src="~/img/JoelHiltonHeadshot.jpg" height="400"/>
<br />

<div>
    <a asp-controller="Home" asp-action="MyPodcasts">My Podcasts</a>
    <br />
    <a asp-controller="Home" asp-action="EnterMovies">Enter Movies</a>
</div>

<div>
    <a asp-controller="Home" asp-action="MovieList">View Movie List</a>
</div>